/* Mobile styles (default) */
body {
  font-size: 16px;
}

/* Tablet styles */
@media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  /* Add additional styles for larger screens */
}
